HOST_PORT=8010
HOST_BIND=127.0.0.1
ADMIN_USERNAME=admin
AUTH_PASSWORD=change-this-password
DB_PATH=/data/krotka.db
LATITUDE=54.49278325820789
LONGITUDE=18.513418262277867
WEATHER_PAST_DAYS=30
WEATHER_FORECAST_DAYS=5
